<header>

  <nav class="navbar navbar-expand-lg navbar-danger bg-warning">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Shopping Cart </a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Product</a>
          </li>
           {{#if user}}
          <li class="nav-item">
            <a class="nav-link" href="/cart">Cart<span class="badge badge-success" id="cart-count">{{cartCount}}</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orders">Orders</a>
          </li>
          {{/if}}
        </ul>
        <div class="dropdown " style="margin-right: 90px;"  >
          <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{#if user}}
             {{user.Name}}
             {{else}}
             Account
            {{/if}}
            
           
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {{#if user}}
              <a class="dropdown-item" href="/logout">Profile</a>
             <a class="dropdown-item" href="/logout">logout</a>

             {{else}}
             <a class="dropdown-item" href="/login">login</a>

         
            {{/if}}
            
          </div>
        </div>
      </div>
  </nav>

</header>